@import url("https://fonts.googleapis.com/css?family=Russo+One");

html {
    min-height: 100%;
}
body {
    z-index: -1;
    min-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}

.header {
    text-align: center;
}

#storage {
    margin-left: 0.5vw;
}

.header h1{
    font-size: 2vw;
    font-family: "Russo One",sans-serif;
    margin-bottom: 0;
}

.header svg {
    position: absolute;
    height: 3vw;
    width: 3vw;
    left: 38%;
    top: 2%;
}


.header hr {
    position: relative;
    height: 3px;
    background-color: black;
    left: 0;
    z-index: 1;
}

.header h1 img {
    width: 5vw;
}

#currentFolderDiv {
    font-family: "Russo One",sans-serif;
    font-size: 1vw;
}

#userInfo {
    position: absolute;
    width: max-content;
    height: 20vw;
    right:3%;
    top: 2%;
}


#userName {
    position: relative;
    left:0;
    top: 0;
    display: inline-block;
    width: max-content;
    font-family: "Russo One",sans-serif;
    font-size: 1.5vw;
}

#profilePic {
    left:5%;
    top: 2%;
    position: relative;
    display: inline-block;
    height: 2vw;
    width: 2vw;
}

#profilePic:hover {
    cursor: pointer;
}

#profileDropDown {
    position: absolute;
    width: 15vw;
    height: 5vw;
    outline: 4px solid black;
    top: 16.5%;
    border-radius: 1px;
    right: 3.5%;
    background-color: white;
    z-index: 3;
}

#profileDropDown svg[name="triangle"] {
    position: absolute;
    top: -19%;
    left: 94.25%;
    width: 1vw;
    height: 1vw;
}

#availableSpaceDiv {
    position: absolute;
    left:2%;
    top:2%;
    font-family: "Russo One",sans-serif;
    font-size: 1vw;
}

#takenSpaceDiv {
    position: absolute;
    left:2%;
    top:25%;
    font-family: "Russo One",sans-serif;
    font-size: 1vw;
}

#logout {
    position: absolute;
    width: 80%;
    left:10%;
    top:65%; 
}

#logout svg {
    width: 1vw;
    height: 1vw;
    left: 65%;
    top: 5%;
}

#logout button {
    width: 100%;
    background: transparent;
    border: 2px solid black;
    border-radius: 5px;
    font-family: "Russo One",sans-serif;
}

#logout button:hover {
    background-color: lightgray;
    cursor: pointer;
}

#serverText {
    position: absolute;
    font-size: 0.75vw;
    font-family: "Russo One",sans-serif;
    left: 87.5%;
    top: 0.5%;
}

#temp {
    position: absolute;
    left: 97%;
    top: 0.5%;
    font-size: 0.75vw;
    font-family: "Russo One",sans-serif;
    display: inline-block;
}

#returnToMain {
    position: absolute;
    z-index: 1;
    width: 2vw;
    height: 2vw;
    left: 1%;
    top: 22.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#returnToMain:hover {
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
}

.tools {
    display: unset;
    position: relative;
}

.tools input {
    display: none;
}


.tools button {
    font-size: 1vw;
    font-family: "Russo One",sans-serif;
    height: 5vh;
    border-radius: 40px;
    background: transparent;
    text-align: center;
    width: 10%;
}

.tools button[id="remove"] {
    float: right;
}

.tools button[id="remove"]:disabled:hover {
    cursor: not-allowed;
    background: transparent;
}

.tools button:hover {
    background: lightgray;
    cursor:pointer;
}


#toolsWrapper {
    position: absolute;
    left: 1%;
    top: 15%;
    width: 20vw;
    height: 5vw;
}

#fileUploadBut {
    position: relative;
    z-index: 1;
    width: 2vw;
    height: 2vw;
    left: 60%;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fileUploadBut svg {
    fill: rgb(54, 54, 54);
}


#fileUploadBut:hover {
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
}

#fileUploadButDisabled {
    position: relative;
    z-index: 1;
    width: 2vw;
    height: 2vw;
    left: 60%;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#fileUploadButDisabled:hover {
    border-radius: 50%;
    background-color: lightgray;
    cursor: not-allowed;
}

#createFolderBut {
    position: absolute;
    z-index: 1;
    width: 2vw;
    height: 2vw;
    left: 75%;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#createFolderBut:hover {
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
}

#createFolderButDisabled {
    position: absolute;
    z-index: 1;
    width: 2vw;
    height: 2vw;
    left: 75%;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#createFolderButDisabled:hover {
    border-radius: 50%;
    background-color: lightgray;
    cursor: not-allowed;
}

.searchBarWrapper {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBarWrapper div {
    text-align: center;
    width: 100%;
    height: 100%;
}


#searchBarDiv {
    position: relative;
    width: 25%;
    height: 40%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid gray;
    border-radius: 10px;
}

#dirSelect {
    font-family: "Russo One",sans-serif;
}

#dirSelect option {
    font-family: "Russo One",sans-serif;
}

#searchBar {
    font-family: "Russo One",sans-serif;
    font-size: 100%;
    color: gray;
    z-index: 2;
    position: absolute;
    top:50%;
    transform: translate(0%,-50%);
    left:1%;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    border: none;
}

#searchbarIcon {
    width: max-content;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    left: 92.5%;
    z-index: 3;
}

#searchbarIcon:hover {
    cursor: pointer;

}

.multipleFileManagementWrapper  {
    position: absolute;
    width: 20%;
    height: auto;
    left: 77.5%;
    top: 17.5%;
    text-align: right;
}

.multipleFileManagementWrapper div {
    display: inline-block;
    margin-left: 10%;
}

.multipleFileManagementWrapper div:hover {
    cursor: pointer;
}

.multipleFileManagementWrapper div svg {
    width: 125%;
    height: auto;
}

#uploadStatusWrapper {
    position: sticky;
    top: 8%; 
    width: 25%;
    left:74%;
    z-index: 3;
}

#uploadStatusBox {
    position: sticky;
    left: 75%;
    top:0;
    border: 5px solid black;
    border-radius: 10px;
    width: 25vw;
    height: 17vh;
    z-index: 2;
    background: white;
    overflow: hidden;
}

#uploadText {
    font-size: 0.9vw;
    font-family: "Russo One",sans-serif;
    position: absolute; 
    text-align: center;
    width: 100%;
    top: 1%;
}

#dots {
    position: relative;
    font-size: 0.9vw;
    font-family: "Russo One",sans-serif;
    position: absolute; 
    left: 65%;
}

#currentFileUploading {
    position: relative;
    font-family: "Russo One",sans-serif;
    font-size: 0.9vw;
    width: fit-content;
    left: 1%;
    top: 20%;
}

#filesUploaded {
    position: relative;
    font-family: "Russo One",sans-serif;
    font-size: 0.9vw;
    left: 1%;
    top: 20%;
}

#percentage {
    position: relative;
    font-size: 0.9vw;
    font-family: "Russo One",sans-serif;
    left: 45%;
    top: 18%;
}

#progress {
    position: relative;
    -webkit-appearance:none;
    width: 75%;
    height: 15%;
    border: 2px solid black;
    border-radius: 2px;
    top: 16%;
    left: 10%;
}

#progress::-webkit-progress-bar {
    background: white;
}

#progress::-webkit-progress-value {
    background: black;
}


#cancelUpload {
    position: relative;
    height: 15%;
    width: 40%;
    left: 30%;
    top: 19%;
    border: 2px solid black;
    font-family: "Russo One",sans-serif;
    color: black;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cancelUpload:hover {
    background-color: lightgray;
    cursor: pointer;
}

#hideUploadStatus {
    position: absolute;
    height: 100%;
    width: 8%;
    top: 0;
    left: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

#hideUploadStatus:hover {
    background: lightgray;
    cursor: pointer;
}

#hideUploadStatus svg {
    transform: rotate(180deg);
}

#statusBoxWrapper {
    position: fixed; 
    width: 25%;
    left:74%;
    top: 15%;
    z-index: 3;
}

#statusBox {
    position: sticky;
    left: 90%;
    top:0;
    border: 5px solid black;
    border-radius: 10px;
    width: 20vw;
    height: 8vh;
    z-index: 2;
    background: white;
    overflow: hidden;
}

#statusHeaderText {
    position: relative;
    font-size: 1.1vw;
    font-family: "Russo One",sans-serif;
    position: absolute; 
    text-align: center;
    width: 100%;
    top: 1%;
}

#statusIcon {
    position: absolute; 
    text-align: center;
    width: 100%;
    top: 1%;
}

#statusIcon svg {
    height: 24px;
    width: 24px;
}

#statusText {
    position: relative;
    font-family: "Russo One",sans-serif;
    width: 100%;
    top: 40%;
    text-align: center;
    font-size: 1vw;
}

#hideStatusBox {
    position: absolute;
    top: 3%;
    left: 92%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.25vw;
    height: 1.25vw;
}

#hideStatusBox:hover {
    cursor: pointer;
    background-color: lightgray;
}


#filesHeader {
    position: absolute;
    margin-top: 0;
    padding-top: 0;
    top: 20%;
}

.tools h2 {
    font-size: 2vw;
    font-family: "Russo One",sans-serif;
}

#noFilesDisplay {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#noFilesDisplay div {
    font-size: 2vw;
    font-family: "Russo One",sans-serif;
    color: gray;
}




/*--------------------------------FILE BUTTON CSS-----------------------------------*/
.file {
    width: 13vw;
    position: relative;
    display: inline-block;
    margin-left: 2.5%;
    margin-bottom: .5%;
}

.fileButDiv {
    display: inline-block;
    top:0;
    left: 0;
    z-index: 1;
    width: 13vw;
}

.fileIcon {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0%,-50%);
}

.fileName {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(0%,-50%);
    font-family: "Russo One",sans-serif;
    font-size: 1vh * 2.5vw;
}

.fileIcon svg {
    width: 1.5vw;
    height: 1.5vw;
}

.fileBut {
    width: 13vw;
    height: 5vh;
    border-radius: 40px;
    font-size: 2vh;
    background: white;
}
.fileBut:disabled {
    color: black;
}

.fileBut:disabled:hover {
    background: transparent;
    cursor: not-allowed;
}


.fileBut:hover {
    background: lightgray;
    cursor: pointer;
}


.dotDiv {
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 85%;
    top: 50%;
    transform: translate(0%,-50%);
}

.dropDown {
    display: none;
    border: 3px solid black;
    border-radius: 10%;
    z-index: 2;
    background-color: transparent;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    background-color: white;
    width: 7vw;
    position: absolute;
    left: 0%;
}

.dotDiv:hover{
    background-color: darkgray;
}


li {
    list-style-type: none;
}


.dropDown.active {
    display: inline-block;
}

.dropDown.hide {
    display: none;
}


ul {
    height: 75%;
    width: 7vw;
    margin: 0;
    padding: 0;
}


.dropDownBut {
    margin-left: 0.5%;
    height: 33%;
}


.dropDownBut button {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: white;
    border-radius: 5px;
    font-family: "Russo One",sans-serif;
    font-size: 80%;
}

.dropDownBut button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.dropDownBut button svg {
    height: 24px;
    width: 24px;
}

.dropDown svg {
    height: 75%;
    float: left;
}

/*---------------------------------------DROPDOWN ANIMATION-------------------------------------------------*/

@keyframes active {
    0% {
        height: 0px;
        left: 95%;
        top: 24%;
        transform: translate(0%,-50%);
    }

    100% {
        height: 130px;
        left: 95%;
        top: 25%;
    }
}
@keyframes hide {
    0% {
        height: 130px;
        left: 95%;
        top: 25%;
    }

    100% {
        height: 0px;
        left: 95%;
        top: 24%;
    }
}

/* ----------------------------------------------------------RENAME BOX CSS--------------------------------------------------------------------*/
.renameContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.75);
}

.renameContainer .renameBox p {
    text-align: center;
    font-family: "Russo One",sans-serif;
    color: red;
}

.renameBox {
    position: absolute;
    top: 30%;
    left: 30%;
    border: 3px solid black;
    border-radius: 20px;
    height: 22.5%;
    width: 35%;
    background-color: white;
}

.newNameInput {
    margin-top: 1%;
    margin-left: 17.5%;
    width: 65%;
    height: 17.5%;
    border-radius: 5px;
    border: 2px solid black;
    background: transparent;
    font-family: "Russo One",sans-serif;
    font-size: 100%;
    justify-content: center;
}


.renameBox h2 {
    text-align: center;
    font-family: "Russo One",sans-serif;
}

.backBut {
    position: absolute;
    top: 75%;
    left: 5%;
    width: 20%;
    height: 17.5%;
    border-radius: 10px;
    background: transparent;
    font-family: "Russo One",sans-serif;
}

.backBut:hover {
    background-color: lightgray;
    cursor: pointer;
}

.submitBut{
    position: absolute;
    top: 75%;
    left: 75%;
    width: 20%;
    height: 17.5%;
    border-radius: 10px;
    background: transparent;
    font-family: "Russo One",sans-serif;
}

.submitBut:hover {
    background-color: lightgray;
    cursor:pointer;
}

.forbiddenCharsDiv {
    position: absolute;
    font-family: "Russo One",sans-serif;
    top: 70%;
    left: 28%;
    color: red;
    display: none;
}

/*--------------------------------------------------------TOOLTIP----------------------------------------------------*/
.tooltip {
    width: 10%;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: absolute;
    left: 21.25%;
    top: 16.25%;
    border-radius: 5px;
    
}

.tooltip-arrow {
    width: 0;
    height: 0;
    color: black;
    position: absolute;
    left: -6%;
    border-bottom: 2vh solid black; 
    border-left: 1vh solid transparent;
    border-right: 1vh solid transparent;
    transform: rotate(-90deg);
}

.tooltip-text{
    font-family: "Russo One",sans-serif;
    color: white;
}

/* ---------------------------------------------------------DROPAREA CSS-------------------------------------------------*/

#dropArea {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    pointer-events: none;
}

#dropText {
    font-family: "Russo One",sans-serif;
    font-size: 3vh;
}


/* ---------------------------------------------------------MOBILE CSS-------------------------------------------------*/
@media (max-width: 600px) {

    html, body {
        overflow-x: hidden;
    }

    .header svg{
        height: 3vh;
        width: 5vh;
        position: absolute;
        left: 17%;
        top: 1.75%;
    }

    .header h1{
        height: 3vh;
        font-size: 2.5vh;
    }

    .header svg{
        height: 3vh;
    }

    #currentFolderDiv {
        font-size: 1vh;
    }

    #userInfo {
        top:3%;
    }

    #userInfo svg {
        width: 1.75vh;
        height: 1.75vh;
    }

    #userName {
        left: 6%;
        top: -1%;
        font-size: 1.5vh;
    }

    #profileDropDown {
        width: 15vh;
        min-height: 5vh;
        top: 35%;
        background: white;
        z-index: 3;
    }

    #profileDropDown svg[name="triangle"] {
        top: -26%;
        width: 1vh;
        height: 1vh;
    }

    #profileDropDown ul div {
        font-size: 1.1vh;
    }

    #takenSpaceDiv {
        top: 30%;
    }

    #logout  {
        top: 60%;
    }

    #logout button {
        font-size: 0.9vh;
        height: 5%;
        color: black;
    }

    #logout button svg {
        left: 67%;
        top:10%;
        height: 1.4vh;
    }

    .tools {
        display: block;
        height: 15vh;
    }

    #toolsWrapper h2{
        font-size: 1.75vh;
        width: 30vw;
    }

    #fileUploadBut {
        left: 0%;
        top: 110%;
        width: 2.5vh;
        height: 2.5vh;
    }

    #createFolderBut {
        left: 0%;
        top: 200%;
        width: 2.5vh;
        height: 2.5vh;
    }

    .searchBarWrapper {
        top: 7%;
    }

    #searchBarDiv {
        width: 42.5%;
        height: 25%;
        z-index: 0;
    }

    #searchbarIcon {
        width: 3vh;
        left: 85%;
        top: 60%;
    }

    #searchbarIcon svg {
        width: 1.75vh;
    }

    #searchBar {
        font-size: 1.2vh;
    }

    .multipleFileManagementWrapper {
        width: 50%;
        top: 15%;
        left: 45%;
    }

    .multipleFileManagementWrapper div {
        width: 2vh;
    }

    #selectAll {
        font-size: 1.2vh;
        width: 25%;
    }

    #returnToMain {
        top: 70%;
        width: 2.5vh;
        height: 2.5vh;
    }
    
    #uploadStatusWrapper {
        width: 40vw;
        height: 10vh;
        z-index: 5;
    }

    #uploadStatusBox {
        width: 100%;
        height: 100%;
    }

    #uploadText {
        font-size: 1vh;
    }

    #dots {
        left: 72%;
        top: 1%;
        font-size: 1vh;
    }

    #currentFileUploading {
        font-size: 1vh;
    }

    #filesUploaded {
        font-size: 1vh;
    }

    #percentage {
        font-size: 1vh;
        left: 47%;
    }

    #cancelUpload {
        font-size: .75vh;
    }

    #statusBoxWrapper {
        width: 40vw;
        height: 5vh;
    }

    #statusBox {
        width: 100%;
        height: 100%;
    }

    #hideStatusBox {
        width: 1.2vh;
        height: 1.2vh;
    }

    #statusHeaderText {
        font-size:  2.1vw;
    }

    #statusIcon {
        top: -8%;
    }

    #statusIcon svg {
        height: 10px;
        width: 10px;
    }

    #statusText {
        font-size: 2vw;
    }

    .file {
        width: 18vw;
        margin-left: 6%;
        margin-right: 15%;
        height: 4vh;
        margin-bottom: 2.5%;
    }

    .fileButDiv {
        width: 18vw;
        height: 4vh;
    }

    .fileButDiv button {
        width: 35vw;
        height: 4vh;
        font-size: 1.3vh;
        outline: 1px solid black;
        border: 0;
    }

    .fileIcon svg{
        width: 1.75vh;
        height: 1.75vh;
    }

    .fileName {
        left: 35%;
        color: black;
    }

    .dotDiv {
        left: 150%;
        width: 20px;
        height: 20px;
    }

    .dropDown {
        width: 20vw;
        z-index: 3;
        max-height: 10vh;
    }

    .dropDown ul {
        width: 100%;
        height: 90%;
    }

    .dropDownBut {
        height: 25%;
    }

    .dropDownBut button{
        font-size: 1.25vh;
        width: 100%;
    }

    .dropDownBut button svg {
        height: 10px;
        width: 10px;
    }

    @keyframes active {
        0% {
            height: 0px;
            left: 150%;
            top: 40%;
            transform: translate(0%,-50%);
        }
    
        100% {
            height: 130px;
            left: 170%;
            top: 50%;
        }
    }
    @keyframes hide {
        0% {
            height: 130px;
            left: 95%;
            top: 25%;
        }
    
        100% {
            height: 0px;
            left: 95%;
            top: 24%;
        }
    }

    .renameBox {
        width: 80vw;
        left: 7.5%;
    }

    .renameBox input {
        height: 3vh;
    }

    .backBut {
        font-size: 1.3vh;
        color: black;
        border: 0;
        outline: 1px solid black;
    }

    .submitBut {
        font-size: 1.3vh;
        color: black;
        border: 0;
        outline: 1px solid black;
    }

    .forbiddenCharsDiv {
        font-size: 1vh;
        top: 80%;
        left: 28%;
    }

    #noFilesDisplay div{
        font-size: 2vh;
    }

    #fileDeleteWarningHeader {
        font-size: 1.5vh;
        overflow: hidden;
    }

    #folderDeleteWarningHeader {
        font-size: 1.5vh;
        overflow: hidden;
    }
} 