@import url("https://fonts.googleapis.com/css?family=Russo+One");

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    border: solid black 2px;
    border-radius: 20%;
    width: 25%;
    padding-bottom: 1%;
}

.container .header {
    text-align: center;
}

.container .header img {
    width: 15%;
}

.container .header h1 {
    font-size: 2.6vw;
    font-family: "Russo One",sans-serif;
}


.container .input-box {
    width: 80%;
    height: 5.5vh;
    padding-bottom: 15px;
    margin-left: 8%;
}

.container .input-box img[src ='user-solid-60.png'] {
    position: absolute;
    left: 90%;
    top: 17.5%;
    width: 10%;
    height: auto;
}

.container .input-box img[src ='lock-solid-60.png'] {
    position: absolute;
    left: 90%;
    top: 17.5%;
    width: 10%;
    height: auto;
}

.input-box {
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    margin-top: 2px;
}


.input-box input::placeholder {
    font-size: 2.25vh;
    font-family: "Russo One",sans-serif;
}

.input-box input[type='name']{
    padding-left: 20px;
    font-size: 2.25vh;
    font-family: "Russo One",sans-serif;
}

.input-box input[type='password']{
    padding-left: 20px;
    font-size: 2.25vh;
    font-family: "Russo One",sans-serif;
}

.container .butDiv {
    height: 2%;
    padding-bottom: 2%;
}

.container .but {
    width: 70%;
    height: 5.5vh;
    margin-top: 50%;
    margin-left: 16%;
    background: transparent;
    border-radius: 40px;
    font-family: "Russo One",sans-serif;
    font-size: 1.75vh;
    margin-top: 3%;
    border: 2px solid lightgrey;
}

.container .but:enabled {
    color: black;
    border: 2px solid gray;
}

.container .but:hover:enabled {
    background: lightgray;
    cursor: pointer;
}
.container .register {
    font-family: "Russo One",sans-serif;
    text-align: center;
    font-size: 1.75vh;
}

.container #errorDiv {
    font-family: "Russo One",sans-serif;
    text-align: center;
    font-size: 1.75vh;
    color: red;
    margin-top: 5%;
}



@media (max-width: 1250px) {
    
.container {
    border: solid black 2px;
    border-radius: 20%;
    width: 85%;
    padding-bottom: 7%;
}

.container .header {
    text-align: center;
}

.container .header img {
    width: 20%;
}

.container .header h1 {
    font-size: 4vh;
    font-family: "Russo One",sans-serif;
}


.container .input-box {
    width: 80%;
    height: 5.5vh;
    padding-bottom: 15px;
    margin-left: 6%;
}

.container .input-box img {
    margin-top: 1.5%;
}

.input-box input::placeholder {
    font-size: 2vh;
    font-family: "Russo One",sans-serif;
}

.input-box input{
    padding-left: 20px;
    font-size: 2.25vh;
    font-family: "Russo One",sans-serif;
}
.container .but {
    margin-bottom: 2%;
}

.register {
    width: 80%;
    margin-left: 10%;
}

}
