@import url("https://fonts.googleapis.com/css?family=Russo+One");

body {
    z-index: -1;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header {
    text-align: center;
}

#storage {
    margin-left: 0.5vw;
}

div {
    font-family: "Russo One",sans-serif;
}

.header h1{
    font-size: 2vw;
    font-family: "Russo One",sans-serif;
    margin-bottom: 0;
}

.header svg {
    position: absolute;
    height: 3vw;
    width: 3vw;
    left: 38%;
    top: 2%;
}


.header hr {
    position: relative;
    height: 3px;
    background-color: black;
    left: 0;
    z-index: 1;
}

.header h1 img {
    width: 5vw;
}

#userInfo {
    position: absolute;
    width: max-content;
    height: 20vw;
    right:3%;
    top: 2%;
}


#userName {
    position: relative;
    left:0;
    top: 0;
    display: inline-block;
    width: max-content;
    font-family: "Russo One",sans-serif;
    font-size: 1.5vw;
}

#profilePic {
    left:5%;
    top: 2%;
    position: relative;
    display: inline-block;
    height: 2vw;
    width: 2vw;
}

#profilePic:hover {
    cursor: pointer;
}

#profileDropDown {
    position: absolute;
    width: 15vw;
    height: 5vw;
    outline: 4px solid black;
    top: 16.5%;
    border-radius: 1px;
    right: 3.5%;
    background-color: white;
    z-index: 3;
}

#profileDropDown svg[name="triangle"] {
    position: absolute;
    top: -19%;
    left: 94.25%;
    width: 1vw;
    height: 1vw;
}


#availableSpaceDiv {
    position: absolute;
    left:2%;
    top:2%;
    font-family: "Russo One",sans-serif;
    font-size: 1vw;
}

#takenSpaceDiv {
    position: absolute;
    left:2%;
    top:25%;
    font-family: "Russo One",sans-serif;
    font-size: 1vw;
}

#logout {
    position: absolute;
    width: 80%;
    left:10%;
    top:65%; 
}

#logout svg {
    width: 1vw;
    height: 1vw;
    left: 65%;
    top: 5%;
}

#logout button {
    width: 100%;
    background: transparent;
    border: 2px solid black;
    border-radius: 5px;
    font-family: "Russo One",sans-serif;
}

#logout button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.adminTools {
    width: 100%;
    height: 95vh;
}

.infoPanel {
    width: 30%;
    height: max-content;
    min-height: 85vh;
    outline: 5px solid black;
    margin-left: 1%;
    margin-right: 2%;
    margin-top: 1%;
    display: inline-block;
    position: relative;
    border-radius: 10px;
}

.infoPanelHeader {
    font-size: 3vh;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    outline: 5px solid black;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.infoPanelHeader img {
    height: 100%;
    width: 10%;
    position: absolute;
    left: 90%;
    top: 0;
}

.panelContent {
    top: 10%;
    left: 2.5%;
    position: absolute;
}

.panelContent label {
    font-size: 2.25vh;
}

.rebootBut {
    position: absolute;
    top: 10%;
    left: 62.5%;
    width: 7.5vw;
    height: 2.25vw;
    text-align: left;
    outline: 3px solid black;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rebootBut:hover {
    cursor: pointer;
    background-color: lightgray;
    outline: 3px solid red;
    color: red;
    background-color: lightgray;
}

.rebootBut img {
    width: 20%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 75%;
}

#buttonText {
    font-family: "Russo One",sans-serif;
    position: relative;
    font-size: .9vw;
}

.userTable {
    width: 26vw;
}   

.userTable td {
    outline: 3px solid black;
    text-align: center;
    max-width: 5vw;
    overflow-x: auto;
    scrollbar-width: none;
}


.userTable td[id="logTd"] {
    height: 46.5vh;
    text-align: left;
    position: relative;
}

.userTable a {
    color: red;
}

.tableDiv {
    height: 62vh;
    outline: 4px solid black;
    width: 26vw;
    margin-left: 4.5%;
    border-radius: 3px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.tableDiv[id="requests"] tbody {
    height: 50vh;
}

.tableDiv[id="requests"] thead {
    position: sticky;
    top: 0;
    left: 0;
}

.tableDiv[name = "logs"] {
    height: 52vh;
}

.userTable[name = "logs"] tr td {
    outline: none;
}

.userTable[name = "logs"] tr td label {
    font-size: 1vw;
}

.logDiv {
    position: absolute;
    top:1%;
    left: 1%;
    overflow-y: scroll;
    width: 99%;
    height: 99%;
    font-size: .9vw;
    text-align: left;
}
